<%- include('../partials/html-head') %>
  <%- include('../partials/dashboardNav') %>


    <body>
      <div class="title">
        <h1>Anayltics</h1>
      </div>
      <div class="analytics-container">
        <% let sum=0 %>
          <% let resSum=0 %>
            <div>
              <h3>Views Per Listing</h3>
              <table>
                <tr>
                  <th>Shoe Name</th>
                  <th>Total Views</th>
                </tr>
                <% profile.shoesListed.forEach(shoe=>{ %>
                  <% sum=shoe.views + sum %>
                    <tr>
                      <td>
                        <%= shoe.name %>
                      </td>
                      <td>
                        <%= shoe.views %>
                      </td>
                    </tr>
                    <% }) %>
              </table>
            </div>
            <div class="reservations">
              <h3>Reservations Per Listing</h3>
              <table>
                <tr>
                  <th>Shoe Name</th>
                  <th>Reservation(s)</th>
                </tr>
                <% profile.shoesListed.forEach(shoe=>{ %>
                  <% resSum=shoe.reservations + resSum %>
                    <tr>
                      <td>
                        <%= shoe.name %>
                      </td>
                      <td>
                        <%= shoe.reservations %>
                      </td>
                    </tr>
                    <% }) %>
              </table>
            </div>
            <div class="total-stats">
              <h3>
                Shoes Listed --- <%= profile.shoesListed.length %>
              </h3>
              <h3>
                Total Listing Views ----- <%= sum %> view(s)
              </h3>
              <h3>
                Total Listing Reservations --- <%= resSum %>
              </h3>
            </div>
      </div>
    </body>

    </html>