<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/dashboard.css" />
  <%- include('../partials/dashboardNav') %>
    <title>
      <%= user.profile.name %>'s Dashboard
    </title>
    <!-- Views Calculation -->
    <% const totalViews=0 %>
      <% const views=profile.shoesListed.forEach(shoe=>{
        totalViews = shoe.views + totalViews
        }) %>

        <body>
          <div class="total-container">
            <div class="welcome-message">
              <h1>
                Welcome [ <a href="shop/profiles/<%= profile._id %> ">
                  <%= user.profile.name.split(' ').splice(0,1)%></a> ]
          </h1>
          <h1 class="money">
            <i class="fa-thin fa-dollar-sign"></i>
            <i class="fa-thin fa-dollar-sign"></i>
            <i class="fa-thin fa-dollar-sign"></i>
            <i class="fa-thin fa-dollar-sign"></i>
          </h1>
          <h1>Views [  ]</h1>
        </div>
  <a href="/shoes">Manage Products</a>
  <br>
  <br>
  <a href="dashboard/analytics/<%= user.profile._id %> ">Analytics</a>
  <br>
      <div>
<h2>Manage Legal Pages</h2>
<a href="legal/settings/<%= user.profile._id %>">Manage</a>
      </div>
  
      </div>
</body>

</html>