<%- include('./partials/html-head') %>
  <%- include('./partials/nav') %>

    <main>
      <% if (user) { %>
        <p>
          <%= user.profile %>
        </p>
        <h1> Hello <%= user.profile.name %>
        </h1>
        <img class="profile-pic" src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar" />
        <% } else { %>

          <h1> Hello Please Log In</h1>

          <% } %>

    </main>

    <%- include('./partials/footer') %>