<%- include('../partials/html-head') %>
  <%- include('../partials/dashboardNav') %>

    <body>
      <h1>Your Listings</h1>
      <% shoes.forEach(shoe=> { %>
        <a href="/shop/<%= shoe._id %>">
          <div class="product-cards">
            <img src="<%= shoe.image %>" alt="Listing Image" class="all-listing-image">
            <p>
              <%= shoe.name %>
            </p>
        </a>
        <p>
          $<%= shoe.price %>
        </p>
        <a href="/shoes/update/<%= shoe._id %>">Update</a>
        <form action="/shoes/delete/<%= shoe._id %>?_method=DELETE" method="POST">
          <button type="submit">delete</button>
        </form>
        </div>
        <% }) %>
    </body>

    </html>