<%- include('../partials/html-head') %>
  <% if (user) { %>
    <%- include('../partials/dashboardNav') %>
      <% } else { %>
        <%- include('../partials/nav') %>
          <% } %>

            <body>
              <h1>All Shoes Here</h1>
              <div class="container">
                <% shoes.forEach(shoe=>{%>
                  <a href="/shop/<%= shoe._id %> ">
                    <div class="product-cards">
                      <img src="<%= shoe.image %>" alt="Listing Image" class="all-listing-image">
                      <p>
                        <%= shoe.name %>
                      </p>
                  </a>
                  <p>
                    $<%= shoe.price %>
                  </p>
              </div>
              <% }) %>
                </div>

            </body>

            </html>