<%- include('../partials/html-head') %>
  <% if (user) { %>
    <%- include('../partials/dashboardNav') %>
      <% } else { %>
        <%- include('../partials/nav') %>
          <% } %>

            <body>
              <div>
                <img src="profile.avatar" alt="avatar">
                <h1>
                  <%= profile.name %>
                </h1>
                <p>
                  <%= profile %>
                </p>
              </div>

              <div>
                <h3>
                  <%= profile.name.split(' ').splice(0,1)%>' s Listings: </h3>
                    <% profile.shoesListed.forEach(shoe=>{%>
                      <div class="profile-listings">
                        <h3>
                          <a href="/shop/<%= shoe._id %>">
                            <%= shoe.name%>
                          </a>
                        </h3>
                        <a href="/shop/<%= shoe._id %>">
                          <img src="<%= shoe.image %> " alt="Listing Image" class="all-listing-image">
                        </a>
                      </div>
                      <% }) %>
                        <h3>View Users Policies <a href="/legal/<%= profile._id %> ">Here</a></h3>
                        <h3>Users Reserved Shoes</h3>
                        <% profile.shoesReserved.forEach(shoe=>{ %>
                          <p><a href="/shop/<%= shoe._id %>">
                              <%= shoe.name%>
                            </a>-- [$<%= shoe.price %>]
                          </p>
                          <% }) %>
              </div>
            </body>

            </html>