<%- include('../partials/html-head') %>
  <% if (user) { %>
    <%- include('../partials/dashboardNav') %>
      <% } else { %>
        <%- include('../partials/nav') %>
          <% } %>

            <body>
              <div>
                <img src="<%= shoe.image %> " alt="Listing Image" class="listing-img">
              </div>
              <div>
                <h3>
                  <%= shoe.name %>
                </h3>
                <p>Select Size</p>
                <select name="size" id="size-selection">
                  <% shoe.size.split(', ').forEach(size =>{ %> 
                  <option value="<%= size %> "><%= size %></option>
                  <% }) %> 
                </select>
              </div>
<div>
  <h3>Total Reservations</h3>
  <p>XXX</p>
  <button>Reserve</button>
</div>
<div>
  <h3>Description</h3>
  <p>
    <%= shoe.description %> 
  </p>
  <p>
    Courtesy of <a href="profiles/<%= shoe.owner._id %> "><%= shoe.owner.name %></a> 
  </p>
</div>

            </body>

            </html>